<% cache message do %>
<div class="message">
<% if message.image != "" %>
<img src="<%= message.image %>" alt="image" class="usericon">
<% end %>
<p class="msg"><a href="/users/<%= message.authorid %>" title="username"><%= message.author %>: </a>
<%= message.content %></p>
</div>
<% end %>