<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<div id="messages">
    <%= render @messages %>
</div>

<div id="gamestate">
</div>
<form>
  <input type="text" id="user" value="<%= current_user['name'] %>" hidden>
    <br>
  <textarea id ="say" data-behavior="room_speaker" placeholder="Say Something"></textarea>
</form>