<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<div id="messages">
    <%= render @messages %>
</div>

<form>
  <input type="text" id="user" value="<%= current_user['name'] %>" hidden>
    <br>
  <textarea id ="say" data-behavior="room_speaker" placeholder="Say Something"></textarea>
</form>

<div id="gamestate">
</div>

<div id='bg_image'>

    <div id='pikachu'>
      <img id='pikachu_img' src='images/pikachu.png'>
      <p class='name'>
        Pikachu!
      </p>
      <p class='health'>
        Health: 100
      </p>
    </div>

    <div id='enemy'>
      <p class='name'>
      </p>
      <p class='health'>
      </p>
    </div>
    <img id='enemy_img' src=''>

    <span id='status_text'>
    </span>
    <p id='attack_btn'>
    Attack
    </p>
    <p id='heal_btn'>
    Heal
    </p>
  </div>