<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<div id="messages">
    <%= render @messages %>
</div>

<form>
  <input type="text" id="user" value="<%= current_user['username'] %>" hidden>
    <br>
    <input type="text" id="userid" value="<%= current_user['id'] %>" hidden>
    <br>
    <input type="text" id="userimage" value="<%= current_user['img'] %>" hidden>
    <br>
  <textarea id ="say" data-behavior="room_speaker" placeholder="Say Something"></textarea>
</form>

<div id="gamestate">
</div>
<div id="gamestate2">
</div>
<audio src="/sounds/battleTheme.mp3" autoloop hidden id="battleTheme"></audio>
<div id='bg_image'>

    <div id='player'>
      <img id='player_img' src=''>
      <p class='name'>
      </p>
      <p>Health: <span class='health'></span>
      </p>
    </div>

    <div id='enemy'>
      <p class='name'>
      </p>
      <p>Health: <span class='health'></span>
      </p>
    </div>
    <img id='enemy_img' src=''>

    <span id='status_text'>
    </span>
    <div class='controls'>
    <p class='attack btn'>
    Attack
    </p>
     <p class='charge btn'>
    Charge
    </p>
     <p class='taunt btn'>
    Growl
    </p>
    <p class='heal btn'>
    Heal
    </p>
    </div>
  </div>