<div class="container">
<img src="/images/splash.png" alt="Welcome to Battlechat!" id="splash">
<img src="/images/wavingchu.gif" alt="pikachu" style="padding:2%;">
<div>
  <h3 class="texty">Battlechat is a Ruby on Rails 5 project, focusing on the new ActionCable feature. It uses Actioncable for both a real-time chatroom as well as a 2-player real-time game. The game portion also uses Redis as a matchmaking server, not starting a game until there are 2 players. <br>I hope you enjoy my project!</h3>
</div>
</div>